---
import axios from 'axios';
import Card from '../components/Card.astro';
import LayoutNavigator from '../layouts/LayoutNavigator.astro';
import { SEQUENCE_BLUE_TW, SEQUENCE_RED_TW } from '../constants/colors.constants';
import portfolio from '../utils/translate.json';

// const portfolio = await axios(
//   'https://burbanostudio-assets.s3.amazonaws.com/portfolio/i18n/en.json',
//   {
//     headers: {
//       pragma: 'no-cache',
//       'cache-control': 'no-cache',
//     },
//   },
// ).then((res) => res.data);
---

<LayoutNavigator title="jsburbano | Home" index={0}>
  <Card
    title="About me"
    className="bg-gray-50 text-red-700"
    iconTitle="lineicons:user"
  >
    <p class="text-gray-700 text-xs leading-5 ml-8 mt-4 text-pretty">
      {
        portfolio.AboutPage.paragraphs.reduce(
          (acc: string, paragraph: string) => `${acc}${paragraph} `,
          '',
        )
      }
    </p>
  </Card>
  <Card
    title="Job Experience"
    className="bg-gray-50 text-gray-900"
    iconTitle="lineicons:briefcase"
  >
    <p class="text-gray-700 text-xs leading-5 ml-6 mt-4 text-pretty">
      {
        portfolio.ExperiencePage.experiences.map((experience, index) => (
          <section class="flex flex-col gap-1 mb-2 ml-8">
            <h3 class={`text-lg font-semibold ${SEQUENCE_BLUE_TW[index]}`}>{experience.job}</h3>
            <p class="text-md text-gray-900">
              {experience.company} | {experience.years}
            </p>
            <p class="text-xs text-gray-500">{experience.description}</p>
          </section>
            <hr />
        ))
      }
    </p>
  </Card>
  <Card
    title="Academic Formation"
    className="bg-gray-50 text-black"
    iconTitle="lineicons:graduation"
  >
  <section>
    {
      portfolio.CV.data.academic.map((formation, index) => (
        <section class="flex flex-col gap-1 mb-2 ml-8">
          <h3 class={`text-lg font-semibold ${SEQUENCE_RED_TW[index]}`}>{formation.title}</h3>
          <p class="text-md text-gray-900">
            {formation.school} | {formation.year}
          </p>
          <p class="text-xs text-gray-500">{formation.description}</p>
        </section>
          <hr />
      ))
    }
  </section>
</Card>
  <!-- <Card title="Portfolio" className="bg-gray-200 text-gray-950">
    <Projects client:load />
  </Card> -->
  <!-- <Card title="About me" className="bg-gray-800">
    <p class="text-gray-200">
      {
        portfolio.LANDING_MODULE.AboutPage.paragraphs.reduce(
          (acc: string, paragraph: string) => `${acc}${paragraph} `,
          '',
        )
      }
    </p>
  </Card> -->
</LayoutNavigator>
